/* Calendar */
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.cal3 {
  margin: 0 auto;
      
    width: 882px;
    -moz-box-shadow: 4px 4px 0 #343434;
    -webkit-box-shadow: 4px 4px 0 #343434;
    box-shadow: 4px 4px 0 #343434;
}
.popup-calendar {
    width: 588px;
    margin: 0;
}
.cal3 .clndr {
        overflow: hidden;
    border-bottom: 7px solid #cb7731;
    position: relative;
}
.cal3 * {
    margin: 0;
    line-height: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.cal3 .cal {
  float: left;
    width: 294px;
}
.cal3 .clndr .clndr-controls {
  display: block;
  display: inline-block;
  width: 100%;
  color: #FFF;
  font-weight: bold;
}
.cal3 .clndr .clndr-controls.top {  
  position: absolute;
  z-index: 1;
  top: 0;
}
.cal3 .clndr .clndr-controls .clndr-previous-button {
  float: left;
  width: 7%;
  display: block;
  position: relative;
  z-index: 15;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */

  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE10+ */

  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.cal3 .clndr .clndr-controls .clndr-previous-button:hover {
  background-color: #CB6122;
}
.cal3 .clndr .clndr-controls .month {
  text-align: center;
  width: 100%;
      background: #cb7731;
  margin: 0 auto;
  color: #FFF;
text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
        padding-top: 5px;
    padding-bottom: 5px;
}
.cal3 .clndr .clndr-controls .clndr-next-button {
  float: right;
  width: 7%;
  position: relative;
  z-index: 15;
  display: block;
    padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */

  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE10+ */

  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.cal3 .clndr .clndr-controls .clndr-next-button:hover {
  background-color: #CB6122;
}
.cal3 .clndr .clndr-grid {
position: relative;
    width: 294px;
    height: 214px;
    display: inline-block;
}
.cal3 .clndr .clndr-grid .header-day {
  width: 42px;
    display: inline-block;
    text-align: center;
    color: white;
}
.cal3 .clndr .clndr-grid .day {

  width: 42px;
  display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    text-align: center;
    color: #212121;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.cal3 .clndr .clndr-grid .day.event {
    background-color: #d2d2d2;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
    cursor: pointer;
}
.cal3 .clndr .clndr-grid .day.event.past {
  background-color: rgba(210, 210, 210, 0.4);
}
.cal3 .clndr .clndr-grid .day.event:hover {
    background-color: #b8b8b8;
}
.cal3 .clndr .clndr-grid .day.event.selected {
    background-color: #cb7731;
    color: #FFF;
}
.cal3 .clndr .clndr-grid .day.empty,
.cal3 .clndr .clndr-grid .day.adjacent-month {
    color: rgba(0, 0, 0, 0.1);
    width: 42px;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    text-align: center;
    background-color: transparent;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    cursor: default;
}
.cal3 .clndr .clndr-grid .day.empty:hover,
.cal3 .clndr .clndr-grid .day.adjacent-month:hover {
    background-color: transparent;
}
.cal3 .clndr .clndr-today-button {
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.cal3 .clndr .clndr-today-button:hover {
  background-color: #ddd;
}
.cal3 .multi-month-controls .quarter-button {
  display: inline-block;
  width: 25%;
}
.cal3 .multi-month-controls .quarter-button:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}
.clndr-next-button,
.clndr-previous-button,
.clndr-next-year-button,
.clndr-previous-year-button {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.clndr-next-button.inactive,
.clndr-previous-button.inactive,
.clndr-next-year-button.inactive,
.clndr-previous-year-button.inactive {
  opacity: 0.5;
  cursor: default;
}
.days-of-the-week {
    position: absolute;
    left: 0;
    width: 294px;
    height: 217px;
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -ms-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;
    background-color: #ebebeb;
}
.cal3 .clndr .days-of-the-week .headers {
    background-color: #E0AC8D;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*--------------------
Boarding Pass
--------------------*/
.boarding-pass * {
    margin: 0;
    line-height: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.boarding-pass {
    cursor: pointer;
    position: relative;
    width: 470px;
    height: 288px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-transform: uppercase;
    float: left;
    margin-right: 19px;
    margin-bottom: 20px;
}
.one-way .boarding-pass {
    float: none;
    margin-right: auto;
    margin-left: auto;
}
.boarding-pass.order-pass {
    height: 333px;
    cursor: default;
}
.boarding-pass.order-pass .order-ticket {
    position: relative;
    text-align: center;
}
.order-submit {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    float: left;
}
.order-submit a:hover,
.order-submit a {
    text-decoration: none;
    color: #FFF;
}
.boarding-pass.order-pass .order-ticket a {
    text-decoration: none;
    top: 14px;
    position: relative;
}
.boarding-pass.order-pass .order-ticket a:hover {
    color: #FFF;
}
.boarding-pass.order-pass .infos {
    border-bottom: 1px solid #707070;
}
.boarding-pass.even {
    margin-right: 0;
}
.boarding-pass small {
  display: block;
  font-size: 11px;
  color: #A2A9B3;
  margin-bottom: 2px;
}
.boarding-pass strong {
  font-size: 15px;
  display: block;
}
.boarding-pass header {
  background: -webkit-linear-gradient(top, #353535, #707070);
  background: linear-gradient(to bottom, #353535, #707070);
  padding: 12px 20px;
  height: 53px;
}
.boarding-pass:hover header {
  background: -webkit-linear-gradient(top, #582800, #cb7731);
  background: linear-gradient(to bottom, #582800, #cb7731);
}
.boarding-pass header .logo {
  float: left;
  width: 104px;
  height: 31px;
}
.boarding-pass header .flight {
  float: right;
  color: #fff;
  text-align: right;
}
.boarding-pass header .flight small {
  font-size: 8px;
  margin-bottom: 2px;
  opacity: 0.8;
}
.boarding-pass header .flight strong {
  font-size: 18px;
}
.boarding-pass .cities {
  position: relative;
}
.boarding-pass .cities::after {
  content: '';
  display: table;
  clear: both;
}
.boarding-pass .cities .city {
  padding: 20px 18px;
  float: left;
}
.boarding-pass .cities .city:nth-child(2) {
  float: right;
}
.boarding-pass .cities .city strong {
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
}
.boarding-pass .cities .city small {
  margin-bottom: 0px;
  margin-left: 3px;
}
.boarding-pass .cities .airplane {
  position: absolute;
  width: 30px;
  height: 25px;
  top: 49%;
  left: 30%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: move 4s infinite;
          animation: move 4s infinite;
}
@-webkit-keyframes move {
  40% {
    left: 50%;
    opacity: 1;
  }
  100% {
    left: 70%;
    opacity: 0;
  }
}
@keyframes move {
  40% {
    left: 50%;
    opacity: 1;
  }
  100% {
    left: 70%;
    opacity: 0;
  }
}
.boarding-pass .infos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #707070;
}
.boarding-pass .infos .places,
.boarding-pass .infos .times {
  width: 50%;
  padding: 10px 0;
}
.boarding-pass .infos .places::after,
.boarding-pass .infos .times::after {
  content: '';
  display: table;
  clear: both;
}
.boarding-pass .infos .times strong {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}
.boarding-pass .infos .places {
  background: #E2EFE2;
  border-right: 1px solid #707070;
}
.boarding-pass .infos .places small {
  color: #97A1AD;
}
.boarding-pass .infos .places strong {
  color: #cb7731;
}
.boarding-pass .infos .box {
  padding: 10px 10px 10px;
  width: 47%;
  float: left;
}
.boarding-pass .infos .box small {
  font-size: 10px;
}
.boarding-pass .strap {
  clear: both;
  position: relative;
  border-top: 1px solid #99D298;
}
.boarding-pass .strap::after {
  content: '';
  display: table;
  clear: both;
}
.boarding-pass .strap .box {
  padding: 23px 0 20px 20px;
}
.boarding-pass .strap .box div {
  margin-bottom: 15px;
}
.boarding-pass .strap .box div small {
  font-size: 10px;
}
.boarding-pass .strap .box div strong {
  font-size: 13px;
}
.boarding-pass .strap .box sup {
  font-size: 8px;
  position: relative;
  top: -5px;
}
.boarding-pass .strap .qrcode {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
}
.boarding-pass .from-to {
    float: left;
    width: 100%;
    font-size: 11px;
    text-align: center;
    position: relative;
    top: -10px;
}

/* Tables */
table.dataTable thead th, table.dataTable thead td {
    padding: 4px 15px 4px 6px;
    text-align: center;
    font-size: 11px;
}
table.dataTable thead tr:first-child th {
    border-top: 1px solid #111;
}
table.dataTable tbody th, table.dataTable tbody td, table.dataTable tfoot td {
    padding: 4px 15px 4px 6px;
    text-align: center;
}

/* Modal */
.modal-content {
    padding: 20px;
    position: relative;
    z-index: 1;
}
#closebt-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
}
.closebt {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	cursor:pointer;
}
.closebt:hover {
	transform:rotate(90deg);
}
.tax-flight-info {
    margin-bottom: 20px;
    border: 1px solid #111;
    width: 300px;
}
.tax-flight-info div {
    border-bottom: 1px solid #111;
    padding: 5px;
}
.tax-flight-info div:last-child {
    border-bottom: none;
}
.tax-flight-info div span {
    width: 150px;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
}
.tax-flight h4.flight-info-h4 {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 80%;
    position: absolute;
    top: 20px;
    left: 10%;
    line-height: 30px;
}
.tax-flight-actions {
    position: absolute;
    right: 20px;
    top: 80px;
}
.tax-flight-actions-bottom {
    margin-top: 10px;
    margin-bottom: 30px;
}
.tax-flight-actions-bottom a {
    text-decoration: none;
    float: left;
    margin-right: 10px;
    padding: 3px 12px 3px 12px;
    font-size: 12px;
}
.tax-flight-actions-bottom a.pax-download {
    float: right;
}
.tax-passangers-table-inner a.tkt-download:hover,
.tax-passangers-table-inner a.tkt-download {
    text-decoration: none;
    padding: 3px 12px 3px 12px;
    font-size: 12px;
    color: #FFF;
}
.tax-flight-actions a {
    float: right;
    text-decoration: none;
    margin-left: 10px;
}
.tax-flight-actions-bottom a:hover,
.tax-flight-actions a:hover {
    color: #FFF;
    text-decoration: none;
}

/* Profile */
.masquerade-block {
    text-align: center;
    margin: 10px 0;
}
body.profile h1.page_title {
    text-align: center;
    margin: 15px 0;
}
.flight-data,
.choose-flight {
    margin-top: 20px;
    float: left;
    width: 100%;
    position: relative;
}
.flight-data-tables {
    position: relative;
}
.flight-data-tables-top {
    position: relative;
    width: 100%;
}
.flight-data-tables-top a {
    right: 0;
    text-decoration: none;
    position: absolute;
    top: -20px;
}
.flight-data-tables-top a:hover {
    color: #FFF;
}
.flight-data h4,
.choose-flight h4 {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}
.flight-data h4 {
    margin-bottom: 30px;
}

/* Add Passenger Form */
.tax-flight-passenger-add {
    display: none;
}
.tax-flight-passenger-add div.error {
    background: transparent;
    font-size: 11px;
    color: #FF0000;
}
.tax-flight-passenger-add {
    cursor: pointer;
    position: relative;
    padding: 15px;
    width: 555px;
    height: 420px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-bottom: 20px;
}
.tax-flight-passenger-add .form-actions {
    text-align: center;
}
.tax-flight-passenger-add h4 {
    margin-bottom: 10px;
}
.tax-flight-passenger-add select {
  padding: 4px;
}
.tax-flight-passenger-add .field-name-field-passenger-flight-back select {
  width: 391px;
}
.tax-flight-passenger-add .field-name-field-ticket-pdf,
.tax-flight-passenger-add .vertical-tabs-panes,
.tax-flight-passenger-add .field-name-field-passenger-flight,
.tax-flight-passenger-add .field-name-field-passenger-date {
    display: none;
}
.tax-flight-passenger-add label {
    width: 150px;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline; 
}
.tax-flight-passenger-add .form-type-radio label {
    width: auto;
}
.tax-flight-passenger-add .container-inline-date .description {
    display: none;
}
.tax-flight-passenger-add .date-clear,
.tax-flight-passenger-add .form-radios,
.tax-flight-passenger-add .form-checkboxes .form-item,
.tax-flight-passenger-add .form-radios .form-item {
    margin: 0;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;     
}
.ui-datepicker {
    z-index: 9999 !important;
}
.dz-preview {
    display: none !important;
}

/* Edit passenger */
.tax-flight-passenger-add.edit-area {
  display: none;
}
.node-form.node-passenger-form #edit-delete {
  display: none;
}

/* Search User */
body.page-booking h1.page_title {
    text-align: center;
}
#tickets-booking-form {
    width: 720px;
    margin: 0 auto;
    position: relative;
    padding: 15px;
    height: 148px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;    
}
.popup-calendar {
    position: absolute;
    display: none;
    z-index: 99;
}
.form-item-DateFrom,
.form-item-DateTo {
    display: none;
    margin-bottom: 0;
}
.booking select {
    padding: 5px;
    width: 100%;
}
.booking .form-actions {
    text-align: center;
    margin-top: 10px;
    float: left;
    width: 100%;
}
.booking .form-radios .form-item {
    margin-right: 15px;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;    
}
.booking .search-person .form-item,
.booking .search-person,
.booking .form-item-DateTo {
    float: left;
    margin: 0;
    margin-right: 15px;
}
.booking .search-block {
    float: left;
    width: 350px;
    margin-right: 20px;
}
.booking .search-block.last {
    margin-right: 0;
}
.booking .form-text {
    width: 140px;
    padding-left: 10px;
    cursor: pointer;
}
.search-person {
    position: relative;
}
.persons-select {    
    position: absolute;
    top: 30px;
    left: 0;
    width: 210px;
    padding: 20px 15px 0;
    background: #FFF;
    border: 1px solid #cb7731;
    -moz-box-shadow: 0 3px 12px #040404;
    -webkit-box-shadow: 0 3px 12px #040404;
    box-shadow: 0 3px 12px black;
    z-index: 20;
}
.search-person.hidden .persons-select {
    display: none;
}
.popup-calendar:after, .popup-calendar:before,
.persons-select:after, .persons-select:before {
    bottom: 100%;
    left: 50px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.popup-calendar:after,
.persons-select:after {
    border-color: rgba(203, 119, 49, 0);
    border-bottom-color: #cb7731;
    border-width: 10px;
    margin-left: -10px;
}
.popup-calendar:before,
.persons-select:before {
    border-color: rgba(203, 119, 49, 0);
    border-bottom-color: #cb7731;
    border-width: 11px;
    margin-left: -11px;
}
.persons-select .persons-select-item {
    width: 100%;
    float: left;
}
.persons-select .persons-select-item .persons-label {
    float: left;
    width: 104px;
    height: 30px;
    margin: 0 0 20px;
    font-size: 12px;
    line-height: 14px;
    color: #1c1c47;
}
.persons-select .persons-select-item .form-text {
    height: 14px;
    padding: 7px 0;
    background: #FFF;
    background-image: none;
    font-size: 14px;
    line-height: 14px;
    text-indent: 0;
    color: #1c1c47;
    cursor: text;
}
.persons-select .persons-select-item .form-item {
    margin: 0;
}
.persons-select .persons-select-item .form-item .form-text {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.persons-select .persons-select-item .plus,
.persons-select .persons-select-item .minus,
.persons-select .persons-select-item .form-text {
    display: block;
    float: left;
    width: 34px;
    height: 28px;
    padding: 0;
    margin: 0 0 0 -1px;
    border: 1px solid #ced5e2;
    text-align: center;  
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.persons-select .persons-select-item .plus,
.persons-select .persons-select-item .minus {
    background: #cb7731;
    color: #FFF;
    line-height: 26px;  
}

/* Order Popup */
.popup-wrap {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  content: '';
  background: rgba(0, 0, 0, 0.85);
  z-index: 99;
}
.popup-box {
  width: 400px;
  padding: 40px 35px;
  transform: translate(-50%, -50%) scale(0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  background: #fff;
  text-align: center;
}
.confirm-box {
    display: none;
    font-size: 22px;
    line-height: 38px;
    color: green;
    font-weight: normal;
}
.confirm-box i {
    font-size: 42px;
}
.popup-box h2 {
  color: #1a1a1a;
}
.popup-box h3 {
  color: #888;
}
.popup-box .close-btn {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-transition: all ease 0.50s;
  transition: all ease 0.75s;
  text-decoration: none;
  color: #d47c2f;
  font-size: 28px;
}
.popup-box .close-btn:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.transform-in, .transform-out {
  display: block;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.transform-in {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
.transform-out {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
}
#tickets-order-form #edit-undo {
    margin-left: 10px;
}
#tickets-order-form #edit-type {
    text-align: center;
}
#tickets-order-form #edit-type .form-item  {
    margin-right: 15px;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;       
}

/* Fixes */
body.page-user .mask {
    display: none !important;
}
a.edit-save,
a.edit-row {
    display: block;
    font-size: 18px;
    color: #cb7731;
    text-decoration: none;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}
a.edit-save {
    display: none;
}
a.edit-save:hover,
a.edit-row:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}
.flight-data-table .form-text {
    display: none;
    width: 40px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

/* Reports form */
#tickets-reports-form .form-type-textfield,
#tickets-reports-form .form-type-radio {
    margin-right: 10px;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline; 
}
#tickets-reports-form .date-picker {
    width: 100px;
}

.cal3-region {
  position: relative;
}
a.back-cal {
  position: absolute;
  background: url("/sites/all/modules/tickets/images/back.png");
  display: block;
  width: 64px;
  height: 64px;
  cursor: pointer;
  left: -25px;
  top: 100px;
}
a.next-cal {
  position: absolute;
  background: url("/sites/all/modules/tickets/images/next.png");
  display: block;
  width: 64px;
  height: 64px;
  cursor: pointer;
  right: -25px;
  top: 100px;
}

/* Error */
.error-import {
  float: left;
  width: 100%;
  clear: both;  
  color: #FF0000;  
}
.error-import div {
  width: 100%;
  float: left;  
  border-top: 1px solid #FF0000;
  padding: 5px 0;
}